.carousel-container {
  margin: 2% 2% 0 2%;
  background-color: #ffeec1;
  padding: 2%;
  display: flex;
  justify-content: center;
  height: 600px;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.carousel-button.prev {
  left: -10rem;
}

.carousel-button.next {
  right: -10rem;
}

.carousel-container > button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-container > button > i {
  font-size: 200%;
}

.carousel {
  width: 60%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: white;
  padding: 5%;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  border-radius: 1rem;
  overflow: hidden;
}

.text-content {
  overflow: hidden;
}

.show {
  display: block;
}

.data-active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-slide > h3 {
  text-align: center;
  margin-bottom: 5%;
}

.carousel-slide > div {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.carousel-slide > div > img {
  height: 300px;
  width: 300px;
}

#readMoreLink {
  text-decoration: none;
}

.mar {
  background-color: #ffeec1;
  display: flex;
  justify-content: center;
  margin: 0 2% 5% 2%;
}

@media screen and (max-width: 992px) {
  .carousel-container {
    margin: 0;
    width: 100%;
    padding: 5% 0 5% 0;
  }

  .carousel-button {
    overflow: hidden;
  }

  .carousel-button.prev {
    left: 0rem;
  }

  .carousel-button.next {
    right: 0rem;
  }

  .carousel {
    width: 100%;
  }

  .fa-solid {
    overflow: hidden;
    font-size: 50%;
  }

  .carousel-slide > div > img {
    height: 200px;
    width: 200px;
  }

  .carousel-slide {
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-slide {
    width: 70%;
  }

  .mar {
    margin: 0 0 5% 0;
  }
}
