.IntroContent {
  background-color: #142850;
  padding: 5% 0 5% 0;
  margin: 0 2% 0 2%;
  display: flex;
}

.Intro {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.IntroButtons {
  margin-top: 7%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.IntroButtons > button {
  border: none;
  padding: 3% 4% 3% 4%;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  margin: 2%;
}

.IntroButtons > button:nth-child(1) {
  background-image: linear-gradient(to right, lightblue, violet);
}

.IntroButtons > button:nth-child(2) {
  background-image: linear-gradient(to right, orange, salmon);
}

.IntroButtons > button > a > i {
  padding-left: 2%;
}

.IntroButtons > button:hover {
  size: 150%;
}

.Picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Picture img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
}

#HelloThere {
  font-size: 4rem;
  color: white;
}

#BriefDescription {
  color: white;
  width: 60%;
  margin-top: 2%;
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .IntroButtons {
    width: 90%;
  }

  .IntroButtons > button > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .Envelope {
    font-size: 20px;
  }

  .MainContent {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .IntroContent {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }

  .Picture {
    justify-content: space-around;
    display: flex;
    width: 100%;
    padding: 5% 0 5% 0;
  }

  .Picture img {
    max-width: 250px;
    max-height: 250px;
  }

  .Intro {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5% 0 5% 0;
  }

  #HelloThere {
    font-size: 3rem;
  }

  #BriefDescription {
    font-size: 1rem;
    text-align: center;
  }
}
