.projectContainer {
  background-color: rgba(255, 121, 153, 0.23);
  margin: 2%;
  padding: 2%;
}

.project > img {
  height: 50%;
  width: 50%;
}

.sideHeadings {
  font-weight: lighter;
  font-size: 30px;
  padding: 2rem 0;
}

.projectContainer img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  padding: 2rem 0;
}

.projectDescription {
  font-weight: lighter;
  font-size: 1.3rem;
  padding: 2rem 2rem;
}

@media screen and (max-width: 992px) {
  .projectContainer > h2 {
    padding-top: 10%;
  }

  .project > img {
    height: 95%;
    width: 95%;
  }

  .sideHeadings {
    padding: 10% 0 0 0;
    font-size: 140%;
  }

  .projectContainer {
    margin: 0 0 10% 0;
  }

  .projectDescription {
    text-align: justify;
    padding: 3%;
  }
}
