.projectContainer {
    background-color: #FF7999;
    padding: 2% 2%;
}

#projects {
    max-width: min-content;
    margin: auto;
    font-size: 50px;
}

.sideHeadings {
    font-weight: lighter;
    font-size: 30px;
    padding: 2rem 0;
}

.projectContainer img {
    max-width:100%;
    display: block;
    height: auto;
    margin: auto;
    padding: 2rem 0;
}

.projectDescription {
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 2rem 2rem;
}

@media screen and (max-width: 992px) {
    #projects {
        font-size: 30px;
        padding-top: 20px;
    }

    .sideHeadings {
        font-size: 25px;
    }

    .projectContainer img {
        padding: 0;
    }

    .projectDescription {
        padding: 2rem 1rem;
        font-size: 1.25rem;
    }

}