<div class="Section">
  <img class="RepPicture" src="Images/Rectangle 30.jpg" />
  <div class="RepParagraphs">
    <div id="MoreAboutMeHeadingDiv">
      <h2 id="MoreAboutMeHeading">Projects</h2>
    </div>
    <div class="RepDescription">
      The primary focus of a frontend developer lies in making a beautifully
      crafted web pages which is both user friendly and responsive across all
      devices. I've learned many things not by attending lectures but by doing
      real world projects. I've made some responsive websites to become better
      at web development. To add, the website your currently viewing is a
      project itself. Various tech stacks have been used over the course of
      making these websites starting from basic building blocks like Vanilla CSS
      and JavaScript to modern frameworks like tailwind CSS and React JS
      Library.
    </div>
    <div id="LearnMoreDiv">
      <button id="LearnMoreButton">Learn More</button>
    </div>
  </div>
</div>
