h3 {
    font-size: 150%;
    margin: 50px 2% 0 2%;
}

#MoreAboutMeHeadingDiv {
    display: flex;
    justify-content: center;
}

#MoreAboutMeHeading {
    font-size: 200%;
}

.Section {
    display: flex;
    margin: 100px 2% 0 2%;
}

.RepParagraphs {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RepPicture {
    justify-content: center;
    align-items: center;
}

.RepDescription {
    font-size: 130%;
    padding-left: 15px;
}

#LearnMoreDiv {
    display: flex;
    justify-content: center;
}

#LearnMoreButton {
    border: transparent;
    padding: 10px;
    font-size: 120% ;
    background-color: #FF7C7C;
}

img {
    max-width: 350px;
    max-height: 258px;
}